@model IEnumerable<foy5_OgrenciYonetimSistemi.Models.TBolum>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BolumAd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fakulte)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BolumAd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fakulte.FakulteId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BolumId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BolumId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BolumId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
